---
---
<div class="py-8 max-w-screen-xl mx-auto text-white">
    <div class="grid grid-cols-3 justify-items-center pb-8">
        <section>Footer 1</section>
        <section>Footer 2</section>
        <section>Footer 3</section>
    </div>
    <div class="flex justify-center">
        <p>copyright notice</p>
    </div>
</div>
  